
h1 {
    text-align: center;
    margin-top: 40px;
}
.container {
    color: lightgray;
    font-size: large;
}
input {
    border: 1px solid lightgrey;
    width: 50%;
}
.to-do-container{
    margin: auto;
    list-style: none;
    width: 60%;
    color: black;
    padding: 1%;
}
ul li{
    border: 1px solid lightgrey; 
}
.task-container {
    border: 1px solid lightgrey;
    padding: 5px;
}